%section.content
  .container
    = content_tag_for :article, post do
      .sidebar-content
        %p
          = image_tag post.gravatar_url(:size => 32, :default => 'identicon'), :height => 32, :width => 32
          .meta
            %time{:pubdate => 'true', :datetime => post.timestamp.iso8601}
            = post.date.strftime '%b %e %Y'
            %br
            %span
              = post.author
      .main-content
        %p
          %h1= link_to post.title, post
          - if summary
            = post.summary_html
            %p.more= link_to 'Read more&hellip;'.html_safe, post
          - else
            ~ post.content_html


