<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spinuplabs :: Startup Consulting and Development</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <% if Rails.env.production? %>
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-195447-21']);
    _gaq.push(['_setDomainName', 'spinuplabs.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
  <% end %>
  <!-- NAVBAR -->
  <header class="header">
    <div class="container">
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="brand-wrapper">
            <a class="brand" href="#">
              <img src="/assets/spinup-logo-trans.png" width="150px">
            </a>
          </div>
          <ul class="nav">
            <li class="active"><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Blog', pages_blog_path %></li>
            <li><%= link_to 'About', pages_about_path %></li>
            <li><%= link_to 'Contact', pages_contact_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </header>


  <!-- CONTENT -->

    <%= yield %>       


<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span4 about">
        <h5>About Us</h5>
        <p>SpinUp Labs is a full-service technology consultancy.  We primarily work with startups using technologies like Ruby on Rails, PHP, Angular.js, Ember.js, Capistrano, Passenger, Vagrant and various others.</p>
        <%= render 'pages/contact_details' %>
      </div>
      <div class="span4 recent-post">
        <h5>Recent Posts</h5>
        <%= render 'posts/recent_posts' %>
      </div>
      <div class="span4 twitter-widget">
        <h5>Latest Tweets</h5>
        <div class="tweet">
          <a class="twitter-timeline" href="https://twitter.com/spinuplabs" data-widget-id="350319198267908097" height="300" >Tweets by @spinuplabs</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div> 
      </div>
    </div>
  </div>
</footer>

<section class="socket">
  <div class="container">
    <div class="row">
      <div class="span6">
        <span>© 2013 SpinUp Labs. All rights reserved.</span>     
      </div>
      <div class="span6">
        <ul class="social-links">
          <li>Stay Connected</li>
          <li><a href="https://www.facebook.com/pages/Spinup-Labs/568712413159477"><i class="icon-facebook"></i></a></li>
          <li><a href="http://twitter.com/#!/spinuplabs.com"><i class="icon-twitter"></i></a></li>
          <li><a href="http://www.linkedin.com/company/439563"><i class="icon-linkedin"></i></a></li>
          <li><a href="https://plus.google.com/u/1/103136760732189831390/posts"><i class="icon-google-plus"></i></a></li>
        </ul>   
      </div>
    </div>     
  </div>
</section>

<%= javascript_include_tag "application" %>

</body>
</html>
