<!DOCTYPE html>
<html>
	<head>
		<title>SpinUp Labs - Full Stack Web App Development</title>
		 <%#ß= stylesheet_link_tag    "application", :media => "all" %>
		 <%= stylesheet_link_tag "style", :media => "all" %>
		 <%= javascript_include_tag "application" %>
		 <%= csrf_meta_tags %>
		<link href="http://fonts.googleapis.com/css?family=Lato:300,900" rel="stylesheet" type="text/css">
	</head>
	<body>
		<section class="header">
			<div class="container">
				<div class="logo">
				</div>
				<nav class="main">
					<ul>
						<li><%= link_to 'Home','/' %></li>
						<li><%= link_to 'Our Team','/team' %></li>
						<li><%= link_to 'Blog', '/blog/' %></li>
						<li><%= link_to 'Contact Us','/contact' %></li>
					</ul>
				</nav>
			</div>
		</section>
				<%= yield %>
		<section class="footer">
			<div class="container">
				<div>
					<br /><span class="cta">Copyright&copy; 2012, All Rights Reserved</span>
				</div>
			</div>
		</section>
	</body>
</html>
