<!DOCTYPE html>
<html>
	<head>
		<title>SpinUp Labs - Full Stack Web App Development</title>
		 <%= stylesheet_link_tag    "application", :media => "all" %>
		 <%= stylesheet_link_tag "style", :media => "all" %>
		 <%= javascript_include_tag "application" %>
		 <%= csrf_meta_tags %>
	</head>
	<body>
		<section class="header">
			<div class="container">
				<div class="logo">
				</div>
				<nav class="main">
					<ul>
						<li><%= link_to 'Home','/' %></li>
						<li><%= link_to 'Blog', '/blog/' %></li>
					</ul>
				</nav>
			</div>
		</section>
		<section class="banner">
			<div class="container">
				<div class="banner-image"></div>
				<div class="banner-intro">
					<h1>We use technology to increase revenue!</h1>
					<p>Generating a profit is essential to operating a business.<br />
					Technology is cool, but we believe it should be used to make your business more efficient.</p>
					<p>We understand... it's the same reason we don't work for free!</p>
					<p><h3>We're easy to work with!</h3> <button>Call Toll-Free (866) 985-6877</button></p>
				</div>
			</div>
		</section>
		<section class="content">
			<div class="container">
				<%= yield %>
			</div>
		</section>
		<section class="work">
			<div class="container">
					<div class="logos">
					</div>
			</div>
		</section>
		<section class="footer">
			<div class="container">
				<div>
					<br />Copyright&copy; 2012, All Rights Reserved
				</div>
			</div>
		</section>
	</body>
</html>
